body {
    background-color: black;
    color: wheat
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.txt-center {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.round {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.lighter {
  background-color: aquamarine;
  color: black;
}

.download-center {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

